
.menu {
    padding-top: 7.9rem;
    &__list {
        display: flex;
        gap: 5.8rem;
    }
    &__item {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom:-.3rem;
            height: 0.2rem;
            width: 1rem;
            background-color: var(--color-accent);
            transition: .2s;
        }
        &:hover::after {
            width: 100%;
        }
    }
    margin-bottom: 28.3rem;
}